---
import SubContentSection from "./sub-content-section.astro";
---

<SubContentSection title="同意事項" id="concent">
    <div class="max-w-6xl">
        <ul class="relative list-disc gap-4 text-sm">
            <li>
                アンケート結果はスポンサー様に集計結果として提供いたします。
            </li>
            <li>
                本イベントで発生したトラブルなどには運営は一歳関与いたしません。
            </li>
            <li>
                <a href="javascript:window.contributorCovenant.showModal();" class="text-secondary"
                    >行動規範</a
                >を読んで同意ください。
            </li>
        </ul>
    </div>
</SubContentSection>
