---
import type {
  PanelDiscussion,
  Session,
  SuponsorSession,
  TimeTableItem,
} from "~/types";
import ContentSection from "./content-section.astro";
import TimetableItem from "./timetable-item.astro";
import onoImage from "../assets/speaker/ono.jpg";
import makkyImage from "../assets/speaker/makky.jpg";
import fujitaImage from "../content/staff/_images/fujita.jpg";
import ikumaImage from "../assets/speaker/ikuma.png";
import unvalleyImage from "../assets/speaker/unvalley.jpg";
import suzukiImage from "../assets/speaker/suzuki.jpg";
import yukiImage from "../assets/speaker/yuki.jpg";
import nikkieImage from "../assets/speaker/nikkie.png";
import horieImage from "../assets/speaker/horie.jpg";
import morimotoImage from "../content/staff/_images/74th.jpg";
import kurosakiImage from "../assets/speaker/kurosaki.jpg";

const sessions: Array<
  TimeTableItem | Session | SuponsorSession | PanelDiscussion
> = [
  {
    title: "ハンズオン入場受付",
    started_at: "9:30",
    ended_at: "10:00",
    icon: "mdi:door-open",
  },
  {
    title: "GitHub CopilotでWebアプリ開発ハンズオン",
    description:
      "AIペアプログラマーGitHub Copilotで開発がどのように変わるのか体験しよう",
    started_at: "10:00",
    ended_at: "12:00",
    icon: "mdi:hand-front-right-outline",
  },
  {
    title: "セッション入場受付",
    started_at: "12:30",
    ended_at: "13:00",
    icon: "mdi:door-open",
  },
  {
    title: "開幕の挨拶",
    started_at: "13:00",
    ended_at: "13:10",
    icon: "mdi:account-voice",
  },
  {
    title: "【基調講演】Marp for VS Code 拡張機能開発の舞台裏",
    description: `Marp for VS Code は、プレゼンテーションを Markdown で作成できるオープンソースのエコシステム "Marp" を、VS Code 上で使用できる拡張機能です。
VS Code の強力なエディタ機能に Marp を統合することで、プレゼンテーション執筆ワークフローの効率化を実現します。

この発表では、 Marp の簡単な概要と、いかにして Marp が VS Code の採用に至ったか、そして実際の拡張機能の設計や、拡張機能開発にあたって注意しているポイントなどを、順を追ってご紹介いたします。`,
    started_at: "13:10",
    ended_at: "13:40",
    speaker: {
      name: "Yuki Hattori",
      description:
        'フロントエンドエンジニア。2021年より、株式会社YAGOにて、オンライン習い事プラットフォームの開発に従事。2015年末より、 Markdown を中心としたオープンソーススライド作成ツール "Marp" の開発を開始。現在は、各種ライブラリ、CLI、VS Code 拡張などの関連ツールのメンテナンス、コミュニティのモデレートなどを継続的に行なっている。',
      twitter: "https://x.com/y_hatt",
      image: yukiImage,
    },
  },
  {
    title: "スポンサーセッション",
    started_at: "13:40",
    ended_at: "14:25",
    suponsors: [
      {
        speaker: {
          name: "株式会社CARTA HOLDINGS",
          twitter: "https://x.com/carta_engineers",
        },
        suponsorId: 1,
      },
      {
        speaker: {
          name: "ペイクラウドホールディングス株式会社",
          link: "https://www.paycloud.inc/",
        },
        suponsorId: 2,
      },
      {
        speaker: {
          name: "株式会社ヒューマンテクノロジーズ／KING OF TIME",
          link: "https://recruit.h-t.co.jp/",
        },
        suponsorId: 3,
      },
      {
        speaker: {
          name: "Postman",
          twitter: "https://x.com/postman_japan",
        },
        suponsorId: 4,
      },
    ],
  },
  {
    title:
      "GitHub Codeapacesによるポータビリティ性の高い環境構築とスムーズなチーム開発",
    description: `VS Codeをオンライン上で利用可能なサービスにGitHub Codespacesというものがああります。
これはGitHubが提供するサービスで、オンライン上でVS Codeのフル機能が利用できます。
これにより、ローカル環境やマシンスペックの差を意識せず常に同じ環境で開発が可能になります。

内容
主に以下の内容を実際にGitHub Codespacesを使ってみた経験から話します。

・GitHub Codespacesの概要
・GitHub Codespacesを用いた環境構築
・チーム開発にGitHub Codespacesを導入するメリット

対象者
このセッションの対象となるのは以下のような人になります。

・日常的にVS Codeを利用している人
・いつでもどこからでもコーディングをしたい人
・チーム開発をスムーズに行いたい人`,
    started_at: "14:25",
    ended_at: "15:00",
    speaker: {
      name: "Yuhei FUJITA",
      description: undefined,
      twitter: "https://x.com/Yuhei_FUJITA",
      image: fujitaImage,
    },
  },
  {
    title:
      "VS Codeで文字列のちょっとした変換ができるんです！〜実装まで覗くクイックツアー〜",
    description: `小さなtipsなのですが、VS Codeで文字列のちょっとした変換（すべて小文字にするなど）ができます。
このちょっとした変換の紹介と、裏でどのように実装されているのかという小話をします。
VS Codeの実装がちょっとだけ分かったという機会になれば幸いです

聴衆が持ち帰れるもの

・コマンドパレットから起動できる文字列のちょっとした変換
・文字列のちょっとした変換の実装の裏話（コマンドとは。どのようにクラスを組み合わせて実現しているか）`,
    started_at: "15:05",
    ended_at: "15:25",
    speaker: {
      name: "nikkie",
      description: `ソフトウェアエンジニアリングで突破するデータサイエンティスト。  
仕事もプライベートもVS CodeでPythonと戯れています。  
実は本業は仕掛け人🍵、趣味は拡張を作ることです（VS Code拡張やSphinx拡張）`,
      image: nikkieImage,
    },
  },
  {
    title:
      "VS Codeをプロダクトにどう取り込むか　〜VS Code拡張の実装から実際のプロダクトに取り込むまで〜",
    description: `VS Codeはますますソフトウェア開発のデファクトスタンダードになりつつあります。そんな中で今日のプロダクト開発では、「VS Codeをどのように取り込み開発者の生産性を向上するのか」という課題があると感じています。

本発表では、僕が所属しているLaunchable, inc.にてVS Code拡張の開発を行った経験をもとに、VS Codeをプロダクトに取り込むまでの過程についてお話しさせていただきます。具体的には、アイデアの構想から実際のVS Code拡張の開発、そして実際に取り込んでみての感想に焦点を当てます。VS Codeを活用することでこんなことができるんだ！と発見して頂いたり、自分のプロダクトにもVS Codeを取り込めないか考えるきっかけになるような発表にしたいと思っています。`,
    started_at: "15:25",
    ended_at: "16:00",
    speaker: {
      name: "小野直人",
      description: `大学在学時から Ruby の標準ライブラリであるデバッガーの開発に関わり、VS Code extension の機能開発なども行う。2023 年に Launchable, Inc でソフトウェアエンジニアとして入社し、バックエンドを中心にソフトウェア開発に従事している。`,
      twitter: "https://x.com/ono_max7",
      image: onoImage,
    },
  },
  {
    title: "見た目からはじめる生産性向上",
    description: `VSCodeの見た目の改善について、テーマやフォントを変えるといった以上の改善は趣味の範囲という認識が強いのではないでしょうか。
たしかに便利な拡張機能を導入したり、ショートカットを覚えたりする方が生産性向上にはつながりやすいです。しかしエディタの見た目が生産性に寄与する部分も馬鹿にはできません。エディタ部分が広ければ広いほど、不要なものが視界に入っていない状況ほど、余計に集中力を損なうことなく開発に集中できるものです。
見た目は毎日視界に入るからこそ、改善結果も見えやすい場所です。日々の生産性向上のための研鑽をここから始めるのはいかがでしょうか。
この発表ではまずVSCodeの見た目の概念を整理します。その上でそれぞれどのような設定・拡張機能によって変更ができるのかを示すことで、日々のコーディングの中で改善できるポイントを見つけ出すための視点と、改善のための方法や目次を提供します。`,
    started_at: "16:00",
    ended_at: "16:20",
    speaker: {
      name: "ikuma-t",
      description:
        "株式会社エンペイで働くプログラマーです。業務ではTypeScriptをよく書いています。時間を浪費していることをわかりつつも、ツールを調べたりいじったりするのが好きです。",
      twitter: "https://x.com/ikumatdkr",
      image: ikumaImage,
    },
  },
  {
    title: "VS CodeでAWSを操作しよう",
    description: `VS Codeには便利な拡張機能が多数あります。
GitHub Copilot/Copilot Chat、Figma、Postman、その他の拡張機能を適材適所で使用できます。
これにより、VS Code からほとんど離れることなく、フロントエンドの開発を効率的に行うことができます。
今回は、最新のアップデートなども踏まえつつ、実際にこれらの拡張機能・ツール等を使って、実際にフロントエンドをどう開発するか、デモを交えながらご紹介します。`,
    started_at: "16:25",
    ended_at: "17:00",
    speaker: {
      name: "Masaki Suzuki",
      description: `株式会社DeNAで、Mobageバックエンドチームのクラウドアーキテクトを行っています。
主にAWSに関する業務に携わっており、中でもサーバーレスやAWS CDKなどのIaC(Infrastructure as Code)に興味を持っています。

普段の業務では、AWS Lambdaのコーディング、AWS CDKでのインフラ定義、及びGitHub Actions作成などでVS Codeを使用しています。

また、AWS関連コミュニティでの活動（発表・参加）を積極的に行っており、主にJAWS-UG CDK支部、及びJAWS-UG 名古屋支部で活動しております。
その他、2023年8月にAWS Community Builder(Serverless)に認定されました。`,
      twitter: "https://x.com/makky12",
      image: makkyImage,
    },
  },
  {
    title:
      "Behind VS Code Extensions for JavaScript/TypeScript Linting and Formatting",
    description: `本トークでは、JavaScript/TypeScript の Linter/Formatter として動作する VS Code 拡張の裏側について解説します。発表者は、Rust 製の Web Toolchain である Biome に関わっているため、Biome を主な例とします。Biome に馴染みのない方でも、一般的な Linter や Formatter がどのように VS Code 拡張上で動いてるか理解できることを目指します。`,
    started_at: "17:00",
    ended_at: "17:20",
    speaker: {
      name: "unvalley",
      description:
        "A talentless software engineer who writes Rust 🦀 and TypeScript. Biome core member.",
      twitter: "https://x.com/unvalley_",
      image: unvalleyImage,
    },
  },
  {
    title: "VS Code 拡張機能を活用した AI 駆動開発 - 実践編",
    description: `VS Codeには便利な拡張機能が多数あります。
GitHub Copilot/Copilot Chat、Figma、Postman、その他の拡張機能を適材適所で使用できます。
これにより、VS Code からほとんど離れることなく、フロントエンドの開発を効率的に行うことができます。
今回は、最新のアップデートなども踏まえつつ、実際にこれらの拡張機能・ツール等を使って、実際にどう開発するか、デモを交えながらご紹介します。`,
    started_at: "17:20",
    ended_at: "17:55",
    speaker: {
      name: "鈴木 章太郎",
      description:
        "ヴイエムウェア株式会社 ソリューションアーキテクト本部 プリンシパルエンタープライズアーキテクト。マイクロソフトで13年間、テクニカルエバンジェリストとして .NET、Visual Studio、Windows、iOS、Android、Microsoft Azure 等の最新技術啓発活動を実施。その後、デル、アクセンチュア、エラスティックで同様の活動を経て現職。モダンアプリ開発、AI 駆動開発を訴求中。",
      twitter: "https://x.com/shosuz",
      image: suzukiImage,
    },
  },
  {
    title: "GitHub Copilot活用、現場の声（経験者）パネルディスカッション！",
    started_at: "18:00",
    ended_at: "18:20",
    icon: "mdi:forum-outline",
    description: `注目されているAIペアプログラマーサービスGitHub Copilotですが、使ってみるまではその良さがわからなかったり、使ってみてもちょっと便利程度に留まってしまったりしていませんか？ そこで、実際にGitHub Copilotの利用を活用したり、推進したりしている、コアなGitHub Copilotユーザの話を聴いてみましょう。
本セッションでは、4人のGitHub Copilotのユーザに登壇いただき、パネルセッション形式でそれぞれの使い方や、その勘所を語っていただきます。漠然と利用しているだけではわからなかったような、GitHub Copilotとの向き合い方を探求していきます！
本セッションのモデレータ兼登壇者：Atsushi Morimoto (@74th)`,
    speakers: [
      {
        name: "堀江 亮介",
        description:
          "新卒でヤフー株式会社に入社。Yahoo!ニュースの開発に関わった後、株式会社VASILYへ転職。その後M&Aに伴い2018年4月に旧ZOZOテクノロジーズに入社。ZOZOへの吸収合併に伴い転籍し現職。ZOZOではZOZOTOWN、WEARおよび新規事業で開発に従事。現在はCTOブロックを軸に社内各プロダクトの開発サポート、組織横断での課題解決、技術広報業務を行なっている。",

        image: horieImage,
      },
      {
        name: "黒崎 優太",
        description: `新卒で株式会社サイバーエージェントに入社し、AI事業本部にて広告配信プラットフォームのバックエンドエンジニアを経て、現在は小売企業向けのアプリやデータ基盤の開発やセキュリティ関連の業務を担当。兼務にてサイバーエージェント CTO統括室でGitHub Copilot等の全社導入の推進を行う。
2023年に<a target="_blank" class="underline text-secondary" href="https://developers.cyberagent.co.jp/blog/archives/43059/">「サイバーエージェントのGitHub CopilotのAnalyticsデータを公開！利用開始から約3ヶ月でエンジニアの生産性は向上したのか？」</a>を執筆。`,
        image: kurosakiImage,
      },
      {
        name: "Atsushi Morimoto（@74th)",
        description: `GO株式会社所属、インフラよりのデータエンジニア。2024年1月に『改訂新版Visual Studio Code実践ガイド』を出版。VS Code Meetupオーガナイザメンバー。技術同人誌即売会『技術書典』に毎回VS Codeや電子工作関連の新刊を執筆して継続参加中。`,
        image: morimotoImage,
      },
      {
        name: "YuheiFUJITA",
        description:
          "GitHub Copilotなしではもはやコーディング出来なくなったプログラマー。最近は人と話す時間よりもChatGPTやGitHub Copilotと会話している時間のほうが長い。",
        image: fujitaImage,
      },
    ],
  },
  {
    title: "クロージング",
    started_at: "18:20",
    ended_at: "18:25",
    icon: "mdi:close-box",
  },
  {
    title: "懇親会（オフライン会場）",
    started_at: "18:30",
    ended_at: "20:00",
    icon: "mdi:party-popper",
  },
];
---

<ContentSection title="タイムテーブル" id="time-table">
  <div
    class="relative w-full max-w-6xl space-y-16 before:absolute before:inset-0 before:ml-5 before:h-full before:w-1 before:translate-x-4 before:bg-gradient-to-b before:from-transparent before:via-slate-500 before:to-transparent xl:w-2/3 xl:before:ml-[9.9rem] xl:before:translate-x-0"
  >
    {sessions.map((item) => <TimetableItem item={item} />)}
  </div>
</ContentSection>
